#case {
    width: 100%;
    background-color: var(--bg-card-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn-box {
        margin: 35px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;


        .bt {
            gap: 5px;
            font-size: 15px;
            width: clamp(55px, 16vw, 100px);
        }
    }

    .case-box {
        width: 100%;
        padding: 0 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        @media (max-width: 768px) {
            padding: 0 15px;
        }

       
    }
}