@import "tailwindcss";

/* 组合选择器，优先级足够覆盖默认样式 */
.Hamburg.ant-btn {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: transparent;
    /* 移除默认内边距 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hamburg.ant-btn,
.Hamburg.ant-btn:hover,
.Hamburg.ant-btn:focus,
.Hamburg.ant-btn:active,
.Hamburg.ant-btn:focus-visible {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: transparent !important;
}

/* 清楚底部默认样式 */
.ant-layout-footer {
    padding: 0;
}

/* 修改antd 样式覆盖  */
#app .ant-layout-header.header {
    height: 65px;
    line-height: 65px;
}

#app {
    display: flex;
    flex-direction: column;

    .footer {
        height: 400px;
    }
}